{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h2 class="h4">Welcome back, we look forward to seeing what recipes you have to share this time!</h2>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Sign In" %}</h3>

      <p>{% blocktrans %}Welcome back to the Recipe Share! <br /> Please Login below or <a class="link"
          href="{{ signup_url }}">Sign Up</a> to start sharing your recipes.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "Login" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}