body {
    background-color: #fcfcfc;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #798777;
}

.main-bg {
    background-color: #fdf8f3;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 25%;
    right: -2px;
    background-color: #798777;
    text-align: center;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead-text {
    background-color: #A2B29F;
    color: white;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background-color: rgba(162, 178, 159, 0.5);
    opacity: 50%;
    border-radius: 10px;
}

.post-link {
    text-decoration: none;
    color: #383b37;
}

.post-link:hover,
.page-link {
    color: #798777;
}

.page-link, a {
    color: #798777;
}

.post-title {
    margin-top: 6%;
    margin-left: 6%;
    text-shadow: 2px 2px 2px rgb(37, 37, 37);
}

.post-subtitle {
    margin-left: 6%;
    color: #fff;
}

.btn-signup,
.btn-secondary {
    background-color: #A2B29F;
    color: #fff;
    border: none;
}

.btn-edit {
    background-color: #A2B29F;
    color: #fff;
    border: none;
}

.btn-signup:hover,
.btn-signup:active, 
.btn-secondary:hover,
.btn-secondary:active {
    background-color: #fff;
    color: #A2B29F;
    border: none;
}

.btn-recipe {
    background-color: #fff;
    color: #A2B29F;
    border: none;
}

.btn-recipe:hover,
.btn-recipe:active {
    background-color: #A2B29F;
    color: #fff;
    border: none;
}

.link {
    color: #A2B29F;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #A2B29F;
    text-decoration: underline;
}

.btn-like {
    color: #dc3545;
    border: none;
    background: transparent;
    padding: 0;
}

.btn-delete {
    color: #fff;
    background: #dc3545;
}

.btn-like:hover,
.btn-like:active {
    color: #dc3545;
    background: transparent;
    border: none;
}

.alert {
    border-radius: 5px;
    background-color: #A2B29F;
    text-align: center;
    color: #fff;
}

/* nav bar */

.navbar-brand {
    font-size: x-large;
    font-weight: 500;
    margin-right: 2rem;
}

.signup li::marker {
    text-decoration: none;
}

/* sign-up */

li {
    list-style-type: none;
}

/* hero */

.hero-image {
    background-image: linear-gradient(rgba(162, 178, 159, 0.5), rgba(162, 178, 159, 0.8)), url("/static/images/hero-1.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* hero / main headings text */

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text h2 {
    text-shadow: 2px 2px 2px rgb(37, 37, 37);
  }

  .hero-text p {
    text-shadow: 2px 2px 2px rgb(37, 37, 37);
  }

  /* footer social media links */

.social-links a {
    text-decoration: none;
}

/* animation on social media links */

.social-links i {
    color: white;
    transition: all 0.2s ease-in-out;
}

.social-links i:hover {
    transform: scale(1.3);
}

/* image sizing on recipe post */

.img-resize {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img-container {
    object-fit: contain;
    height: 20vw;
}

.excerpt {
    font-size: 98%;
}

/* media queries */

@media screen and (max-width: 500px) {
    .media-500 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        --bs-gutter-x: 0rem;
    }
}