{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<!-- hero image -->
<!-- <div class="hero">
    <div class="justify-content-md-center">
        <img class="hero-img" src="{% static 'images/hero-1.jpg' %}" alt="placeholder image">
    </div>
</div> -->
<div class="hero-image">
    <div class="hero-text">
        <h2 class="h4">An exciting space to view and share delicious, crowd-pleasing recipes!</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'recipe_create' %}" class="btn btn-recipe mt-4">Add Recipe</a>
        <!-- <button class="btn-recipe rounded mt-2">Add Recipe</button> -->
        {% else %}
        <p>Please login to add a recipe</p>
        {% endif %}
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Recipe Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container img-container">
                                {% if "placeholder" in recipe.feat_img.url %}
                                <img class="card-img-top img-resize" src="{% static 'images/placeholder.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top img-resize" src=" {{ recipe.feat_img.url }}"
                                    alt="{{ recipe.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ recipe.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p class="card-text">{{ recipe.excerpt }}</p>
                            </a>

                            <hr class="my-2"/>
                            <!-- <p class="card-text text-muted h6"><i class="far fa-heart"></i>
                                {{ recipe.likes_count }}
                            </p> -->
                            <div class="d-flex justify-content-between">
                                <p class="card-text text-muted h6 px-3"> {{ recipe.created_on}}
                                </p>
                                <p class="card-text text-muted h6 px-3">
                                <span class="text-secondary .d-inline-flex"><i class="far fa-heart"></i> </span> {{ recipe.likes_count }}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="rounded page-link btn-secondary">&laquo;
                    Back
                </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="rounded page-link btn-secondary"> Next
                    &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
<!-- {% block copyright %}Copyright 2024 Nicole Jackson{% endblock %} -->