{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h2 class="h4">An exciting space to view and share delicious, crowd-pleasing recipes!</h2>
        {% if user.is_authenticated %}

        <!-- Add Recipe Button -->
        <a href="{% url 'recipe_create' %}" class="btn btn-recipe mt-4">Add Recipe</a>
        {% else %}
        <p>Please login to add a recipe</p>
        {% endif %}
    </div>
</div>
<div class="container-fluid">
    <div class="row">

        <!-- Recipe Entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="image-container img-container">
                                {% if "placeholder" in recipe.feat_img.url %}
                                <img class="card-img-top img-resize" src="{% static 'images/placeholder.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top img-resize" src=" {{ recipe.feat_img.url }}"
                                    alt="{{ recipe.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author small">Author: {{ recipe.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <h4 class="card-title mt-1 mb-1">{{ recipe.title }}</h4>
                                <p class="card-text excerpt">{{ recipe.excerpt }}</p>
                            </a>
                            <hr class="my-2" />
                            <div class="d-flex justify-content-between">
                                <p class="card-text text-muted h6 px-2 small"> {{ recipe.created_on}}
                                </p>
                                <p class="card-text text-muted h6 px-2 small">
                                    <span class="text-secondary .d-inline-flex"><i class="far fa-heart"></i> </span>
                                    {{ recipe.likes_count }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Next/Back Page Buttons -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="rounded page-link btn-secondary">&laquo;
                    Back
                </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="rounded page-link btn-secondary"> Next
                    &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}