{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Recipe title goes in these h1 tags -->
                <h1 class="post-title">{{ recipe.title }}</h1>
                <!-- Recipe author goes before the | the Recipe's created date goes after -->
                <!-- <p class="post-subtitle">Published by: {{ recipe.author }} | Published on: {{ recipe.created_on }}</p> -->
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- <img src="{% static 'images/placeholder.jpg' %}" class="scale" alt="placeholder"> -->
                {% if "placeholder" in recipe.feat_img.url %}
                <img class="card-img-top img-resize" src="{% static 'images/placeholder.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="card-img-top img-resize" src=" {{ recipe.feat_img.url }}" alt="{{ recipe.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="bg-white p-3">
        <div class="col-12 card mb-4  mt-3 left top">
            <!-- margin bottom / margin top -->
            <div class="row">
                <div class="text-center">
                    <h2>{{ recipe.title | safe }}</h2>
                    <p>Published by: {{ recipe.author }} | Published on: {{ recipe.created_on }}</p>
                    <p>{{ recipe.excerpt }}</p>
                    <!-- <p class="text-start">Prep Time: {{ recipe.prep_time | safe }} Min<br>
                Cook Time: {{ recipe.cook_time | safe }}<br>
                Serves: {{ recipe.servings | safe }}
            </p> -->
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4">
                <p>Prep Time: {{ recipe.prep_time | safe }} Min</p>
            </div>
            <div class="col-4">
                <p>Cook Time: {{ recipe.cook_time | safe }}</p>
            </div>
            <div class="col-4">
                <p>Serves: {{ recipe.servings | safe }}</p>
            </div>
            <!-- <hr class="col-12"> -->
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-4">
                <h3>Ingredients</h3>
                <p>{{ recipe.ingredients | safe }}</p>
            </div>
            <div class="col-6 mb-4">
                <h3>Instructions</h3>
                <p>{{ recipe.instructions | safe }}</p>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="text-center mb-4">
                <h4>Notes:</h4>
                <p>{{ recipe.notes | safe }}</p>
            </div>
            <!-- <hr class="col-12"> -->
            <!-- <div class="col-12">
                <hr>
            </div> -->
        </div>
    </div>
    <!-- Displaying likes & comments -->
    <div class="row pt-3">
        <div class="col-6 d-flex justify-content-around">
            <strong class="text-secondary">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_likes' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if user in recipe.likes.all %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"
                        aria-label="liked heart icon"><i class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"
                        aria-label="un-liked heart icon"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                {{ recipe.likes_count }}
                <!-- <span class="text-secondary">{{ recipe.likes_count }} </span> -->
            </strong>
        </div>

        <div class="col-6 d-flex justify-content-around">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ total_comments }}
            </strong>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <h3 class="text-center">Comments:</h3> <!-- Text centered comments -->
        <div class="col-md-8 card mb-4  mt-3 ">
            <!-- <h3>Comments:</h3> -->
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div
                    class="p-2 comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">
                        This comment is not yet approved
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <!-- <h3>Leave a comment:</h3> -->
                <!-- <p>Tried this recipe? <br> Rate and leave a comment below:</p> -->
                <p>Tried this recipe? <br> Rate and leave a comment below:</p>
                <!-- <p>Posting as: {{ user.username }}</p> -->
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-secondary">Post Comment</button>
                </form>
                {% else %}
                <p>Please login to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                <br> You cannot undo this action once confirmed.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block comments.js %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}