{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Recipe Title -->
<div>
    <div class="container">
        <div class="row g-0">
            <div class="masthead-text">
                <h1 class="post-title">{{ recipe.title | safe }}</h1>
                <p class="post-subtitle">Published by: {{ recipe.author }} | Published on: {{ recipe.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Recipe Detail -->
<div class="container">
    <div class="bg-white p-3">
        <div class="container d-flex justify-content-around flex-row-reverse">
            <div class="col-6 card mb-4 mt-3 left top d-flex justify-content-center">
                <div class="row">
                    <div class="text-center">
                        <p class="pt-4">{{ recipe.excerpt }}</p>
                        <div class="d-flex justify-content-around pt-3">
                            <div>
                                <i class="far fa-clock"></i><p>Prep Time: {{ recipe.prep_time | safe }} Min</p>
                            </div>
                            <div>
                                <i class="fas fa-mitten"></i><p>Cook Time: {{ recipe.cook_time | safe }}</p>
                            </div>
                            <div>
                                <i class="fas fa-utensils"></i><p>Serves: {{ recipe.servings | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 card mb-4 mt-3 left top">
                {% if "placeholder" in recipe.feat_img.url %}
                <img class="card-img-top img-resize" src="{% static 'images/placeholder.jpg' %}"
                    alt="placeholder image">
                {% else %}
                <img class="card-img-top img-resize" src=" {{ recipe.feat_img.url }}" alt="{{ recipe.title }}">
                {% endif %}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-4">
                <h3>Ingredients</h3>
                <p>{{ recipe.ingredients | safe }}</p>
            </div>
            <div class="col-6 mb-4">
                <h3>Instructions</h3>
                <p>{{ recipe.instructions | safe }}</p>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="text-center mb-4">
                <h4>Notes:</h4>
                <p>{{ recipe.notes | safe }}</p>
            </div>
        </div>
    </div>

    <!-- CRUD for Recipe Post -->
    <div class="card-link text-center">
        {% if user.is_authenticated and recipe.author.id == request.user.id %}
        <a href="{% url 'recipe_update' recipe.slug %}" class="btn btn-secondary mb-4 mt-4">Edit Recipe</a>
        <a href="{% url 'recipe_delete' recipe.slug %}" class="btn btn-danger mb-4 mt-4">Delete Recipe</a>
        {% endif %}
    </div>

    <!-- Total Likes Display -->
    <div class="row pt-3">
        <div class="col-6 d-flex justify-content-around">
            <strong class="text-secondary">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_likes' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if user in recipe.likes.all %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"
                        aria-label="liked heart icon"><i class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"
                        aria-label="un-liked heart icon"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                {{ recipe.likes_count }}
            </strong>
        </div>

        <!-- Total Comments Display -->
        <div class="col-6 d-flex justify-content-around">
            {% with comments.count as total_comments %}
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ total_comments }}
            </strong>
            {% endwith %}
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>

    <!-- Comments Display -->
    <div class="row">
        <h3 class="text-center">Comments:</h3>
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments">
                    <p class="font-weight-bold">
                        <span class="font-weight-normal text-muted">
                            {{ comment.created_on }} |
                        </span> {{ comment.author }} wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                    <hr class="col-md-8 text-muted">
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Create Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <p>Tried this recipe? <br> Leave a comment below:</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-secondary">Post Comment</button>
                </form>
                {% else %}
                <p>Please login to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal on comments -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your comment?
                    <br> You cannot undo this action once confirmed.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block comments.js %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}