{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <div class="hero-image">
        <div class="hero-text">
            <h2 class="card-body h3">500 - INTERNAL SERVER ERROR</h2>
        </div>
    </div>
    <div class="container my-5">
        <div class="text-center">
            <p>Oops sorry! Due to an internal server error your request couldn't be handled right now.</p>
            <p>Please try again later <a href="{% url 'home' %}" class="btn btn-secondary">Home</a></p>
        </div>
    </div>
</section>

{% endblock %}