{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section>
    <div class="hero-image">
        <div class="hero-text">
            <h2 class="card-body h3">Add a Recipe</h2>
            <p class="h5">Add your crowd-pleasing recipe below, click save to publish and cancel to add later.<p>
        </div>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="profile-card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" class="mt-4">
                            {{ form | crispy }}
                            {% csrf_token %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-signup my-4">Submit</button>
                                <a href="{% url 'home'  %}" class="cancel-link btn btn-delete">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}