{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class="image d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'images/feat-about-img.jpg' %}" height="100" width="100" />
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <div class="text mt-3">
                    <h5 class="mb-2">Username</h5>
                    <p>{{ request.user.username }}</p>
                    <h5 class="mb-2">Full Name</h5>
                    {% if my_profile.fullname %}
                    <p>{{my_profile.fullname}}</p>
                    {% else %}
                    <br>
                    {% endif %}
                    <h5 class="mb-2">Email</h5>
                    {% if my_profile.email %}
                    <p>{{my_profile.email}}</p>
                    {% else %}
                    <br>
                    {% endif %}
                    <h5 class="mb-2">About Me</h5>
                    {% if my_profile.about_me %}
                    <p>{{my_profile.about_me}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <section>
    <div class="container my-5">
        <div class="row justify-content-center">
            <img src="{% static 'images/placeholder.jpg' %}" class="profile-image" alt="{{ my_profile.title }}">
            <div class="col-md-8 col-lg-6">
                <div class="profile-card">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="mb-2">Username</h5>
                            <p>{{ request.user.username }}</p>
                            <h5 class="mb-2">Full Name</h5>
                            {% if my_profile.fullname %}
                            <p>{{my_profile.fullname}}</p>
                            {% else %}
                            <br>
                            {% endif %}
                            <h5 class="mb-2">Email</h5>
                            {% if my_profile.email %}
                            <p>{{my_profile.email}}</p>
                            {% else %}
                            <br>
                            {% endif %}
                            <h5 class="mb-2">About Me</h5>
                            {% if my_profile.about_me %}
                            <p>{{my_profile.about_me}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

{% endblock content %}